		<div id="header-wrapper">
				<header id="header" class="container">



					<!-- Logo -->
						<div id="logo">
							<h1><input ng-Model="exiciseName"></input></h1> <!-- {{ exiciseName }} -->
							<span><input ng-Model="exiciseTarget"></input></span>		 <!-- {{ exiciseTarget }} -->
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="left-sidebar.html">What is goin on?</a></li>
								<li class="current"><a href="index.html">Train now!</a></li>
								<li>
									<a href="">Exicises</a>
									<ul>
										<li><a href="#">200 Squats</a></li>
										<li><a href="#">Abdominal exercises [REST 20h]</a></li>
										<li>
											<a href="">Workouts...</a>
											<ul>
												<li><a href="#">Bench press</a></li>
												<li><a href="#">Deadlift</a></li>
												<li><a href="#">Squat</a></li>
											</ul>
										</li>
										<li><a href="/edit">Edit current</a></li>
									</ul>
								</li>
								<li><a href="no-sidebar.html">Feedback</a></li>
							</ul>
						</nav>

				</header>
			</div>

			<div id="banner-wrapper">
				<div id="banner" class="box container">
					<div class="row">
						<div class="7u">
							<input ng-Model="todayTask"></input>
							<p><textarea ng-Model="todayMotivation"></textarea></p>
						</div>
						<div class="5u">
							<ul>
								<li><a href="#" class="button big icon fa-arrow-circle-right" ng-click="Done()" >Ok, I've done it!</a></li>
								<li><a href="#" class="button alt big icon fa-question-circle" ng-Click="Fault()">Oh no, I can't...</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		
			<div id="footer-wrapper">
				<footer id="footer" class="container">
					<div class="row">
						<div class="3u">
								<section class="widget links">
									<input ng-Model="todayProgress"></input>
								</section>
						</div>
					</div>
				</footer>
			</div>